<div class="card">
  <p-toast key="local"></p-toast>
  <button pButton pRipple type="button" (click)="onAddNewRow()" severity="secondary" [outlined]="true" class="mb-2"><i class="pi pi-plus"></i> Neuen Eintrag hinzufügen</button>
  @if (!loading()) {
    <p-table [value]="parameters()" dataKey="id" editMode="row" showGridlines>
      <ng-template #header>
        <tr>
          <th style="width: 20%">Key</th>
          <th style="width: 70%">Value</th>
          <th style="width: 10%"></th>
        </tr>
      </ng-template>
      <ng-template
        #body
        let-parameter
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr
          [pEditableRow]="parameter"
          [pEditableRowDisabled]="parameter.id === 0"
        >
          <td [pEditableColumn]="parameter.key" pEditableColumnField="key">
            <p-cell-editor>
              <ng-template #input>
                <input
                  pInputText
                  type="text"
                  [style]="{ width: '100%' }"
                  [(ngModel)]="parameter.key"
                  required
                />
              </ng-template>
              <ng-template #output>
                {{ parameter.key }}
              </ng-template>
            </p-cell-editor>
          </td>
          <td [pEditableColumn]="parameter.value" pEditableColumnField="value">
            <p-cell-editor>
              <ng-template #input>
                <textarea
                  pTextarea
                  [autoResize]="true"
                  [(ngModel)]="parameter.value"
                  required
                  [style]="{ width: '100%' }"
                ></textarea>
              </ng-template>
              <ng-template #output>
                {{ parameter.value }}
              </ng-template>
            </p-cell-editor>
          </td>
          <td>
            <div class="flex items-center justify-center gap-2">
              @if (!editing) {
                <button pButton pRipple type="button" pInitEditableRow (click)="onRowEditInit(parameter)" [rounded]="true" [text]="true"><i class="pi pi-pencil"></i></button>
              }
              @if (!editing) {
                <button pButton pRipple type="button" (click)="onRowDelete(parameter, ri)" [rounded]="true" [text]="true"><i class="pi pi-trash"></i></button>
              }
              @if (editing) {
                <button pButton pRipple type="button" pSaveEditableRow (click)="onRowEditSave(parameter, ri)" [rounded]="true" [text]="true" severity="success" class="mr-2"><i class="pi pi-check"></i></button>
              }
              @if (editing) {
                <button pButton pRipple type="button" pCancelEditableRow (click)="onRowEditCancel(parameter, ri)" [rounded]="true" [text]="true" severity="danger"><i class="pi pi-times"></i></button>
              }
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
