<p-toast key="local"></p-toast>
<div class="mb-1">
  @if (checkFiltering()) {
    <p-button
      label="Clear"
      severity="secondary"
      [outlined]="true"
      styleClass="mb-1"
      icon="pi pi-filter-slash"
      (click)="clear(basetable)"
    ></p-button>
  }
  @for (but of tableToolbar(); track but; let ind = $index) {
    <p-button
      [label]="but.label!"
      [icon]="but.icon!"
      [styleClass]="but.btnClass! + ' mb-1'"
      (click)="clickOnToolbar(ind)"
      [disabled]="isButtonDisabled(ind)"
    ></p-button>
  }
</div>
<p-table
  #basetable
  [columns]="tableOptions()"
  styleClass=" p-datatable-striped"
  [value]="tableData()"
  selectionMode="single"
  [selection]="selectedRecord()"
  (selectionChange)="selectedRecord.set($event)"
  (onFilter)="filterEvent($event)"
  dataKey="id"
  sortMode="multiple"
  [scrollHeight]="objHeight$()"
  [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  [stateKey]="localStorage()"
  stateStorage="local"
  showGridlines
>
  <ng-template #header>
    <tr>
      @for (col of tableOptions(); track col) {
        <th
          [pSortableColumnDisabled]="!col.sortable"
          [pSortableColumn]="col.field"
        >
          {{ col.header }}
          @if (col.sortable) {
            <p-sort-icon field="col.field"></p-sort-icon>
          }
          @if (col.filtering) {
            <p-column-filter
              [field]="col.field"
              [type]="col.filter"
              display="menu"
            ></p-column-filter>
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-data>
    <tr [pSelectableRow]="data" (dblclick)="selectData(data)">
      @for (col of tableOptions(); track col) {
        <td [class]="data.classRow">
          @if (col.filter === "boolean") {
            <div class="p-text-secondary text-center font-bold">
              @if (data[col.field]) {
                <i class="pi pi-check"></i>
              }
            </div>
          }
          @if (col.pipe) {
            <div class="text-right">
              {{ data[col.field] | dynamicPipe: col.pipe : col.args }}
            </div>
          }
          @if (col.format && formatFunction()) {
            <div>
              {{ formatFunction()!(col.field, data[col.field]) }}
            </div>
          }
          @if (
            col.format === false &&
            col.filter !== "boolean" &&
            col.pipe === undefined
          ) {
            <div>
              {{ data[col.field] }}
            </div>
          }
        </td>
      }
      @if (isEditable()) {
        <td>
          <p-button
            type="button"
            pRipple
            icon="pi pi-file-edit"
            [rounded]="true"
            [text]="true"
            (click)="editData(data)"
          ></p-button>
        </td>
      }
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td [colSpan]="tableOptions().length">Keine Datensaätze gefunden.</td>
    </tr>
  </ng-template>
  <ng-template #summary>
    <div class="flex items-center justify-between">
      {{ tableData() ? tableData().length : 0 }} Datensätze.
    </div>
  </ng-template>
</p-table>
