<div class="card">
  <div class="mb-0">
    <label class="mr-3">Jahr wählen</label>
    <p-select
      [options]="selJahre()"
      [(ngModel)]="selJahr"
      (onChange)="chgJahr()"
    ></p-select>
    <p-button
      pRipple
      type="button"
      icon="pi pi-plus"
      label="Neuen Eintrag hinzufügen"
      (click)="onAddNewRow()"
      [disabled]="!isEditable()"
      severity="secondary"
      [outlined]="true"
      styleClass="ml-5"
    ></p-button>
    <p-button
      pRipple
      type="button"
      icon="pi pi-copy"
      label="Auf nächstes Jahr kopieren"
      (click)="copyYear()"
      [disabled]="!isEditable()"
      severity="secondary"
      [outlined]="true"
      styleClass="ml-5"
    ></p-button>
    <hr />
  </div>
  @if (!loading()) {
    <p-table
      [value]="lstBudget()"
      dataKey="id"
      editMode="row"
      showGridlines
      [scrollHeight]="objHeight$()"
      [scrollable]="true"
    >
      <ng-template #header>
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 30%">Konto</th>
          <th style="width: 15%">Budget</th>
          <th style="width: 30%">Notizen</th>
          <th style="width: 15%"></th>
        </tr>
      </ng-template>
      <ng-template
        #body
        let-data
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="data" [pEditableRowDisabled]="rowIsEditing(data)">
          <td class="text-right" [class]="data.classRow">
            {{ data.acc_order }}
          </td>
          <td
            [pEditableColumn]="data.acc_id"
            pEditableColumnField="acc_id"
            [class]="data.classRow"
          >
            @if (!rowIsEditing(data)) {
              <div>
                {{ data.acc_name }}
              </div>
            }
            @if (rowIsEditing(data)) {
              <p-cell-editor>
                <ng-template #input>
                  <p-select
                    [options]="lstAccounts()"
                    [(ngModel)]="data.acc_id"
                    optionLabel="name"
                    optionValue="id"
                    optionDisabled="disabled"
                    [required]="true"
                    (onChange)="chgAcc(data)"
                    autoWidth="false"
                    [style]="{ width: '100%' }"
                  >
                  </p-select>
                </ng-template>
                <ng-template #output>
                  {{ data.acc_name }}
                </ng-template>
              </p-cell-editor>
            }
          </td>
          <td
            [pEditableColumn]="data.amount"
            pEditableColumnField="amount"
            class="text-right"
            [class]="data.classRow"
          >
            @if (!rowIsEditing(data)) {
              <div>
                {{ data.amount | number: "1.2-2" }}
              </div>
            }
            @if (rowIsEditing(data)) {
              <p-cell-editor>
                <ng-template #input>
                  <p-input-number
                    [(ngModel)]="data.amount"
                    [required]="true"
                    [style]="{ width: '100%' }"
                  ></p-input-number>
                </ng-template>
                <ng-template #output>
                  {{ data.amount | number: "1.2-2" }}
                </ng-template>
              </p-cell-editor>
            }
          </td>
          <td
            [pEditableColumn]="data.memo"
            pEditableColumnField="memo"
            [class]="data.classRow"
          >
            @if (!rowIsEditing(data)) {
              <div>
                {{ data.memo }}
              </div>
            }
            @if (rowIsEditing(data)) {
              <p-cell-editor>
                <ng-template #input>
                  <input
                    pInputText
                    [(ngModel)]="data.memo"
                    [style]="{ width: '100%' }"
                  />
                </ng-template>
                <ng-template #output>
                  {{ data.memo }}
                </ng-template>
              </p-cell-editor>
            }
          </td>
          <td>
            @if (!rowIsEditing(data)) {
              <p-button
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(data)"
                [disabled]="!isEditable()"
                [rounded]="true"
                [text]="true"
              ></p-button>
            }
            @if (rowIsEditing(data)) {
              <p-button
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(data)"
                [disabled]="!isEditable()"
                [rounded]="true"
                [text]="true"
                severity="success"
                styleClass="mr-2"
              ></p-button>
            }
            @if (rowIsEditing(data)) {
              <p-button
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(data, ri)"
                [rounded]="true"
                [text]="true"
                severity="danger"
              ></p-button>
            }
            @if (!rowIsEditing(data)) {
              <p-button
                pRipple
                type="button"
                [disabled]="!isEditable()"
                icon="pi pi-times"
                (click)="onRowEditDelete(data)"
                [rounded]="true"
                [text]="true"
              ></p-button>
            }
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
<p-confirm-dialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirm-dialog>
