<p-splitter [panelSizes]="[70, 30]" styleClass="mb-1">
  <ng-template #panel>
    <div class="card" style="width: 100%">
      <app-basetable
        [tableOptions]="cols()"
        [tableData]="lstJournal()"
        [formatFunction]="formatField"
        [tableToolbar]="toolbar()"
        localStorage="journal"
        [diffCalcHight]="350"
        [editable]="isEditable()"
      >
      </app-basetable>
    </div>
  </ng-template>
  <ng-template #panel>
    <div class="card" style="width: 100%">
      <div class="mb-2">
        <label for="jahre" class="mr-3">Jahr wählen</label>
        <p-select
          id="jahre"
          [options]="selJahre()"
          [(ngModel)]="selJahr"
          (onChange)="chgJahr()"
        ></p-select>
      </div>
      <div>
        <form autocomplete="off" (ngSubmit)="save()" (reset)="reset()">
          <div class="mb-4 flex flex-wrap">
            <label for="jour_date" class="w-full mb-2 md:w-1/6 md:mb-0">Datum</label>
            <div class="w-full md:w-10/12">
              <p-datepicker
                dateFormat="dd.mm.yy"
                name="jour_date"
                [required]="true"
                [(ngModel)]="selJournal.date_date"
                [disabled]="!editMode() && !addMode()"
              ></p-datepicker>
            </div>
          </div>
          <div class="mb-4 flex flex-wrap">
            <label for="fromAcc" class="w-full mb-2 md:w-1/6 md:mb-0"
              >Konto Soll</label
            >
            <div class="w-full md:w-10/12">
              <p-auto-complete
                name="fromAcc"
                [(ngModel)]="selJournal.account_journal_from_accountToaccount"
                [disabled]="!editMode() && !addMode()"
                [suggestions]="lstFromAccounts()"
                (completeMethod)="fromAccountSearch($event)"
                optionLabel="longname"
                [dropdown]="false"
                (onSelect)="fromAccountSel($event.value)"
                [forceSelection]="false"
              >
              </p-auto-complete>
            </div>
          </div>
          <div class="mb-4 flex flex-wrap">
            <label for="toAcc" class="w-full mb-2 md:w-1/6 md:mb-0"
              >Konto Haben</label
            >
            <div class="w-full md:w-10/12">
              <p-auto-complete
                name="toAcc"
                [(ngModel)]="selJournal.account_journal_to_accountToaccount"
                [disabled]="!editMode() && !addMode()"
                [suggestions]="lstToAccounts()"
                (completeMethod)="toAccountSearch($event)"
                optionLabel="longname"
                [dropdown]="false"
                (onSelect)="toAccountSel($event.value)"
                [forceSelection]="false"
              >
              </p-auto-complete>
            </div>
          </div>
          <div class="mb-4 flex flex-wrap">
            <label for="memo" class="w-full mb-2 md:w-1/6 md:mb-0">Text</label>
            <div class="w-full md:w-10/12">
              <input
                type="text"
                name="memo"
                pInputText
                minlength="5"
                required
                class="w-full"
                [(ngModel)]="selJournal.memo"
                [disabled]="!editMode() && !addMode()"
              />
            </div>
          </div>
          <div class="mb-4 flex flex-wrap">
            <label for="amount" class="w-full mb-2 md:w-1/6 md:mb-0"
              >Betrag</label
            >
            <div class="w-full md:w-10/12">
              <p-input-number
                name="amount"
                mode="currency"
                currency="CHF"
                locale="de-CH"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                [required]="true"
                [(ngModel)]="selJournal.amount"
                [disabled]="!editMode() && !addMode()"
              ></p-input-number>
            </div>
          </div>
          <div class="mb-4 flex flex-wrap">
            <p-button
              type="button"
              label="Sichern"
              icon="pi pi-save"
              severity="primary"
              [outlined]="true"
              (click)="save()"
              [disabled]="!editMode() && !addMode()"
            ></p-button>
            <p-button
              type="button"
              label="Verwerfen"
              icon="pi pi-refresh"
              severity="secondary"
              [outlined]="true"
              (click)="reset()"
              [disabled]="!editMode() && !addMode()"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</p-splitter>
