<p-scrollarea style="width: 100%; height: 100%">
  <p-scrollarea-viewport>
    <p-scrollarea-content>
  @for (fld of editFields(); track fld; let ind = $index) {
    <span class="p-float-label">
      <label [for]="'float-input_' + ind">{{ fld.label }}</label>
      <input
        type="text"
        ngSwitch="fld.format == 'text'"
        [id]="'float-input_' + ind"
        pInputText
        />
      <p-input-number
        ngSwitch="fld.format == 'numeric'"
        [id]="'float-input_' + ind"
      ></p-input-number>
      <p-datepicker
        ngSwitch="fld.format == 'numeric'"
        [id]="'float-input_' + ind"
      ></p-datepicker>
    </span>
  }
  <p-toolbar>
    @for (but of editToolbar(); track but; let ind = $index) {
      <button pButton [class]="but.btnClass!" (click)="clickOnToolbar(ind)"><i [class]="but.icon!"></i> {{ but.label! }}</button>
    }
  </p-toolbar>
    </p-scrollarea-content>
  </p-scrollarea-viewport>
  <p-scrollarea-scrollbar orientation="vertical">
    <p-scrollarea-handle />
  </p-scrollarea-scrollbar>
</p-scrollarea>
