@use "variables";

.layout-footer {
  transition: margin-left variables.$transitionDuration;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 3px solid transparent;
  border-image: variables.$amcAccentGradient 1;
  z-index: 999;
}
