<div class="card">
    <div class="mb-4 flex flex-wrap">
    <label for="uploadfiles" class="w-full md:w-1/6 md:mb-0">Anhänge:</label>
    <div class="w-full md:w-10/12">
        <p-fileupload id="uploadfiles" name="uploadfiles[]" [multiple]="true" [maxFileSize]="500 * 1024 * 1024"
            [auto]="true" chooseLabel="Wählen" [showCancelButton]="false" [showUploadButton]="false" mode="advanced"
            accept="application/pdf" [customUpload]="true" (uploadHandler)="prepareFiles($event.files)">
        </p-fileupload>
    </div>
</div>
</div>
<p-toolbar>
    <button pButton (click)="back()" class="p-button-text"><i class="pi pi-back"></i> Abbruch</button>
    <button pButton (click)="save()" class="p-button-text"><i class="pi pi-send"></i> Speichern</button>
</p-toolbar>