<p-scrollarea style="width: 100%; height: 80%">
  <p-scrollarea-viewport>
    <p-scrollarea-content>
  <form [formGroup]="fg" autocomplete="off" (ngSubmit)="save()">
    <div class="card">
      <div class="flex flex-wrap">
        <div class="mb-4 w-full md:w-1/2">
          <label for="name">Name</label>
          <cr-input>
            <input
              type="text"
              formControlName="name"
              crinput
              pInputText
              class="text-base text-color surface-overlay p-2 appearance-none outline-none w-full"
              [minlength]="3"
              required
              />
          </cr-input>
        </div>
        <div class="mb-4 w-full md:w-1/2">
          <label for="email">Email</label>
          <cr-input>
            <input
              type="text"
              formControlName="email"
              pInputText
              [minlength]="5"
              crinput
              crpattern="email"
              autocomplete="off"
              required
              class="text-base text-color surface-overlay p-2 appearance-none outline-none w-full"
              />
          </cr-input>
        </div>
        @if (withRole) {
          <div class="flex items-center flex-wrap mb-4 w-full">
            <div class="flex items-center gap-2 mb-2">
              <p-radio-button
                formControlName="role"
                value="user"
                inputId="user"
              ></p-radio-button>
              <label for="user">User</label>
            </div>
            <div class="flex items-center gap-2 mb-2">
              <p-radio-button
                formControlName="role"
                value="revisor"
                inputId="revisor"
              ></p-radio-button>
              <label for="revisor">Revisor</label>
            </div>
            <div class="flex items-center gap-2 mb-2">
              <p-radio-button
                formControlName="role"
                value="admin"
                inputId="admin"
              ></p-radio-button>
              <label for="admin">Admin</label>
            </div>
          </div>
        }
        @if (wihtPwd) {
          <div class="mb-4 w-full md:w-1/2">
            <label for="passwordN">Passwort</label>
            <cr-input placeholder="Passwort">
              <input
                crinput
                crpattern="password"
                pPassword
                toggleMask="true"
                formControlName="passwordN"
                type="password"
                autocomplete="off"
                required
                class="w-full"
                />
            </cr-input>
          </div>
        }
        @if (wihtPwd) {
          <div class="mb-4 w-full md:w-1/2">
            <label for="passwordV">Passwort wiederholen</label>
            <cr-input placeholder="Passwort wiederholen">
              <input
                crinput
                crpattern="password"
                pPassword
                toggleMask="true"
                type="password"
                validator="matchPassword"
                [params]="$safeNavigationMigration(fg?.get('passwordN'))"
                formControlName="passwordV"
                autocomplete="off"
                required
                class="w-full"
                />
              <ng-container helptext>Passwort wiederholen</ng-container>
            </cr-input>
          </div>
        }
      </div>
    </div>
  </form>
    </p-scrollarea-content>
  </p-scrollarea-viewport>
  <p-scrollarea-scrollbar orientation="vertical">
    <p-scrollarea-handle />
  </p-scrollarea-scrollbar>
</p-scrollarea>
<p-toolbar>
  <button pButton type="button" severity="secondary" [outlined]="true" (click)="back()"><i class="pi pi-back"></i> Zurück</button>
  @if (!wihtPwd && user.id! > 0) {
    <button pButton type="button" severity="secondary" [outlined]="true" (click)="newPwd()"><i class="pi pi-slack"></i> Neues Passwort</button>
  }
  <button pButton type="button" severity="primary" [outlined]="true" (click)="save()"><i class="pi pi-save"></i> Sichern</button>
</p-toolbar>
<p-confirm-dialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirm-dialog>
